sway/colorscheme
waybar/colors.css
alacritty/include/*
kitty/font_size.conf
kitty/current-theme.conf
kitty/kitty.conf.bak
local
*.local

aerc/accounts.conf
aerc/map.conf

mpd/database
mpd/log
mpd/state
mpd/sticker.sql

*.swp
*.idea

*.diff
