@import "colors.css";
* {
    font-family: Hack Nerd Font Mono;
    font-size: 8pt;
    min-height: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    transition: none;
}

window#waybar {
    /* background: rgba(0, 0, 0, 1.0); */
    background: @base00;
    color: @base06;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
}
#workspaces button.focused {
    border: 1px solid transparent;
    background: @base01;
}
#workspaces button:hover {
}


#pulseaudio, #bluetooth, #custom-gammastep, #network, #cpu, #temperature, #backlight, #battery, #clock, #tray {
    padding: 0 5px;
    margin: 0 1px 0 1px;
    /* border: 1px solid #222; */
    background: @base01;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}
